---
layout: base.njk
title: Zoe Barossi – Triatleta
bodyClass: page-home
lang: pt
slug: ""
permalink: /pt/
---
<div class="home" style="background-image: url('/images/Hero1.jpg');">
  <div class="home-text">
    <p class="home-tag">{{ i18n.pt.home.tag }}</p>
    <h1 class="home-name">Zoe<br>Barossi</h1>
    <p class="home-subtitle">{{ i18n.pt.home.subtitle }}</p>
  </div>
</div>
