---
layout: base.njk
title: Zoe Barossi – Triathlete
bodyClass: page-home
lang: en
slug: ""
permalink: /en/
---
<div class="home" style="background-image: url('/images/Hero1.jpg');">
  <div class="home-text">
    <p class="home-tag">{{ i18n.en.home.tag }}</p>
    <h1 class="home-name">Zoe<br>Barossi</h1>
    <p class="home-subtitle">{{ i18n.en.home.subtitle }}</p>
  </div>
</div>
