---
layout: base.njk
title: Zoe Barossi – Triathletin
bodyClass: page-home home-b
permalink: /start-b/
---
<div class="home" style="background-image: url('/images/Hero2.png');">
  <div class="home-text">
    <p class="home-tag">Triathletin · Berlin × São Paulo</p>
    <h1 class="home-name">Zoe<br>Barossi</h1>
    <p class="home-subtitle">Way to Nizza 2026</p>
  </div>
</div>
