---
layout: base.njk
title: Zoe Barossi – Triathletin
bodyClass: page-home
lang: de
slug: ""
---
<div class="home" style="background-image: url('/images/Hero4.jpg');">
  <div class="home-text">
    <p class="home-tag">Triathletin · Berlin</p>
    <h1 class="home-name">Zoe<br>Barossi</h1>
    <p class="home-subtitle">Way to Nizza 2026</p>
  </div>
</div>
